$o-grid-is-silent:  false;
$o-buttons-is-silent: false;
@import 'o-fonts/main';
@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';
@import 'o-hoverable/main';
@import 'o-buttons/main';

@import 'fonts';


body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}

main {
  margin: 0 10px;
}

.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }

h1 {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  margin: 0.8rem 0 0.5rem;
}

.intro p:first-of-type {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
  margin: 0;
  line-height: 1.3rem;
}

h6 {
  max-width: 600px;
  margin: 0 auto;
  color: oColorsGetPaletteColor('pink-tint5');
  font-weight: 200;
  text-align: center;
  margin-top: 0.8em;
  font-size: 0.875em;
  > a {
    text-decoration: none;
    color: oColorsGetPaletteColor('blue');
    transition: color 0.3s;
    &:hover {
      color: oColorsGetPaletteColor('black');
      transition: color 0s;
    }
  }
}

h4 {
  font-weight: normal;
  color: oColorsGetPaletteColor('grey-tint3');
  font-size: 0.875em;
  margin: 0 0 10px;
}

.instruction {
  color: oColorsGetPaletteColor('claret');
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierTextWeb);
  font-style: italic;
  font-size: 0.75em;
}

.container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    max-width: 972px;
}

.labels,
.ceo-num {
  text-anchor: middle;
}

.ceo-num {
  font-size: 40px;
  font-weight: 600;
}

.labels.always {
  display: block;
}
.category {
  opacity: 0.6;
  cursor: pointer;
  > text {
    pointer-events: none;
  }
}
circle {
  opacity: 0.2;
}

.selected {
  opacity: 1;
    transition: opacity 0.3s;
  > circle {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}

.footnote {
  font-size: 13px;
  color: oColorsGetPaletteColor('grey-tint3');
}

.methodology {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierTextWeb);
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.4em;
  > h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
  }
  > h3 {
    font-weight: normal;
    font-size: 1.2em;
  }
  p {
    font-size: 1.2em;
  }
}

//cards css

.bios {
  font-size: 18px;
  color: oColorsGetPaletteColor('grey-tint5');
  margin: 2em 0 0;
  .event-date {
    font-size: 12px;
  }
}

.card-holder {
  margin: 0 auto 0.8em;
  clear: both;
  display: none;
  padding: 0 0 0.7em;
  border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
  -webkit-font-smoothing: antialiased;
}

.card-holder > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

.visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.uni-name-holder {
  padding: 0;
}

.uni-name {
  font-size: 1.25em;
  font-weight: 200;
  color: oColorsGetPaletteColor('grey-tint5');
  border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
  margin-bottom: 0.75em;
  padding-bottom: 4px;
}

.card {
  font-weight: 200;
}


.ceo-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.company {
  font-weight: 600;
  color: oColorsGetPaletteColor('grey-tint4');
}
.key-facts {
    font-size: 16px;
    line-height: 22px;
}

.main-profile {
    margin-top: 14px;
}

.headshot {
    float: left;
    margin-right: 8px;
    padding-top: 4px;
}

.body-text {
    font-size: 16px;
    margin-top: -6px;
    margin-right: 8px;
    line-height: 22px;
}

.back-to-top {
  text-align: center;
}

// share links
$twitter-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+';

$facebook-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=';

$linked-in-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS0xMDMuMzMyLTkxLjMzYy41My41MzUgMS4xNy44MDMgMS45MTcuODAzLjc1IDAgMS4zODgtLjI2OCAxLjkxNy0uODAzLjUzLS41MzUuNzk1LTEuMTgzLjc5NS0xLjk0MiAwLS43Ni0uMjY1LTEuNDA0LS43OTUtMS45MzRzLTEuMTctLjc5NS0xLjkxNy0uNzk1Yy0uNzQ4IDAtMS4zODcuMjYtMS45MTcuNzlzLS43OTUgMS4xNy0uNzk1IDEuOTMuMjY1IDEuNDA3Ljc5NSAxLjk0MnptNC4yMzYgMTcuNTgzdi0xNC44M2gtNC41ODh2MTQuODNoNC41ODh6bTE3LjIyMyAwdi05LjM5YzAtMS45MjMtLjQ5LTMuMzg3LTEuNDc1LTQuMzkyLS45ODMtMS0yLjI5NC0xLjUtMy45MzMtMS41LS41OSAwLTEuMTUuMDg2LTEuNjcuMjU1LS41Mi4xNy0uOTQuMzc0LTEuMjcuNjE1LS4zMy4yNC0uNjE3LjQ4LS44Ni43Mi0uMjQ4LjI0LS40Mi40NDItLjUxOC42MDZsLS4xNjUuMjZ2LTEuOTk2aC00LjQwOHYxNC44M2g0LjQwN3YtNy43ODVjMC0xLjA2LjI0LTEuODguNzItMi40Ni40ODQtLjU4IDEuMTc3LS44NjcgMi4wODQtLjg2NyAxLjY3IDAgMi41MDggMS4xMSAyLjUwOCAzLjMyN3Y3Ljc4aDQuNTc0eiIvPjwvc3ZnPg==';

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.share-links-holder {
  text-align: center;
  margin-top: -0.5rem;
}

.share-links {  
  // margin-left: 10px;
  > p { 
    @include visually-hidden;
  }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;
    }
  }



  &__link {
    $size: 40px;

    display: block;
    width: $size;
    height: $size;
    border-radius: 2px;
    background-size: $size $size;

    &--twitter { background-image: url('data:image/svg+xml;base64,' + $twitter-logo); }
    &--facebook { background-image: url('data:image/svg+xml;base64,' + $facebook-logo); }
    &--linked-in { background-image: url('data:image/svg+xml;base64,' + $linked-in-logo); }

    &:hover { background-color: oColorsGetPaletteColor('pink-tint2'); }
    &:active { background-color: oColorsGetPaletteColor('pink-tint3'); }

    > span { @include visually-hidden; }
  }

}



// Media queries

@include oGridRespondTo($until: S) {
  .labels {
    font-size: 40px;
  }
}

.logo {
  display: none;
}

@include oGridRespondTo(S) {
  h1 {
    font-size: 3em;
  }
  .intro p:first-of-type {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .ceo-name {
    font-size: 20px;
  }
  .key-facts {
    font-size: 18px;
    line-height: 24px;
  }
  .body-text {
    font-size: 18px;
    line-height: 24px;
  }
  .labels {
    display: none;
    font-size: 30px;
    .always {
      display: block;
    }
  }
  .ceo-num {
    font-size: 30px;
  }
  .logo {
    display: block;
  }
}

@include oGridRespondTo(M) {
  h1 {
    font-size: 3.5em;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1em;
  }
  h6 {
    margin-top: 1em;
  }
  .instruction {
    font-size: 14px;
  }
  .intro p:first-of-type {
    font-size: 1.8em;
  }
  .share-links-holder {
    margin-bottom: 1.5em;
  }
  .uni-name {
    font-size: 1.5em;
  }
  .ceo-name {
    font-size: 22px;
  }
  .card-holder {
    padding: 0 0 1em;
  }
  .key-facts {
    font-size: 20px;
    line-height: 26px;
  }
  .body-text {
    font-size: 20px;
    line-height: 26px;
  }
}

@include oGridRespondTo(L) {
  h1 {
    font-size: 4.5em;
  }
  .intro p:first-of-type {
    font-size: 2em;
  }
  h4 {
    font-size: 1.25em;
  }
  .instruction {
    font-size: 18px;
  }
  .uni-name {
    font-size: 2em;
  }
  .ceo-name {
    font-size: 24px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
  .methodology {
    >h2 {
      letter-spacing: -0.03em;
    }
  }
}
